.banner {
  background-image: url("./../../public/images/banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  text-align: center;
  line-height: 230px;
  font-size: 300%;
}
